@import url("../naked-wordpress-master/style.css");
/*!
 *Theme Name: Naked Wordpress Child
 *Theme URI: http://naked-wordpress.bckmn.com
 *Template: naked-wordpress-master
 *Description: Child theme for Naked Wordpress
 *Author URI: naked-wordpress.bckmn.com
 *Version: 1.0
 *Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu (optional)
 *General comments (optional). */
@font-face {
  font-family: "BorgiaPro-Regular";
  src: url('fonts/BorgiaPro-Regular-webfont.ttf') format('truetype'), url('fonts/BorgiaPro-Regular-webfont.woff') format('woff'), url('fonts/BorgiaPro-Regular-webfont.eot') format('embedded-opentype'), url('fonts/BorgiaPro-Regular-webfont.svg') format('svg');
}

@font-face {
  font-family: "BorgiaPro-Italic";
  src: url('fonts/BorgiaPro-Italic-webfont.ttf') format('truetype'), url('fonts/BorgiaPro-Italic-webfont.woff') format('woff'), url('fonts/BorgiaPro-Italic-webfont.eot') format('embedded-opentype'), url('fonts/BorgiaPro-Italic-webfont.svg') format('svg');
}

@font-face {
  font-family: "SofiaProLight";
  src: url('fonts/SofiaProLight-webfont.ttf') format('truetype'), url('fonts/SofiaProLight-webfont.woff') format('woff'), url('fonts/SofiaProLight-webfont.eot') format('embedded-opentype'), url('fonts/SofiaProLight-webfont.svg') format('svg');
}

/* line 16, _typography.sass */
Body {
  font-family: BorgiaPro-Regular, serif;
  font-size: 16px;
  color: #888888;
  background-color: #e6e6e6;
}

/* line 22, _typography.sass */
h1, h2 {
  font-family: SofiaProLight, sans-serif;
  color: #888888;
}

/* line 26, _typography.sass */
h3, h4, h5, h6 {
  font-family: BorgiaPro-Italic, serif;
}

/* line 29, _typography.sass */
a:hover,
a:focus,
a:active {
  color: #c71100;
}

/* line 1, _header.sass */
header {
  background-color: #464646;
  color: #eeeeee;
}
/* line 4, _header.sass */
header #logo {
  background: url("BmoreUnsceneLogo.png") no-repeat 0;
  min-height: 102px;
  width: 102px;
  display: block;
  margin: 0 10px 0 10px;
}
/* line 10, _header.sass */
header #brand-text {
  margin: 3% 0 0 5%;
}
/* line 12, _header.sass */
header #brand-text h1 {
  color: #eeeeee;
  font-size: 2em;
  letter-spacing: 0.125em;
  font-weight: 100;
  line-height: 1em;
}
/* line 18, _header.sass */
header #brand-text .site-description {
  font: BorgiaPro-Italic, serif;
  color: #eeeeee;
}
/* line 21, _header.sass */
header nav {
  font-family: BorgiaPro-Regular, serif;
}
/* line 24, _header.sass */
header nav ul li {
  border-right: 0.5px solid white;
  padding: 0px 8px 0px 8px;
  margin: 2px 0px;
}
/* line 28, _header.sass */
header nav ul li a {
  color: #eeeeee;
  font-size: 18px;
}

/* Tablet Portrait to Screen */
@media only screen and (min-width: 768px) and (max-width: 1053px) {
  /* line 11, _media-queries.sass */
  body #brand-text {
    margin: 4% 0 0 8%;
  }
  /* line 13, _media-queries.sass */
  body #brand-text .site-title {
    font-size: 2.5em !important;
    line-height: 1em;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 21, _media-queries.sass */
  body #logo {
    height: 120px;
    width: 100%;
    background-position: 50% 0;
    border-bottom: 0.5px solid #eeeeee;
  }
  /* line 23, _media-queries.sass */
  body #brand-text {
    margin: 3% 0 0 5%;
    text-align: center;
  }
  /* line 26, _media-queries.sass */
  body #brand-text .site-title {
    font-size: 2em !important;
    line-height: 1em;
  }
  /* line 30, _media-queries.sass */
  body .main-navigation {
    visibility: hidden;
  }
  /* line 32, _media-queries.sass */
  body .mobile-navigation {
    display: inline;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  /* line 40, _media-queries.sass */
  body #logo {
    height: 120px;
    width: 100%;
    background-position: 50% 0;
    border-bottom: 0.5px solid #eeeeee;
  }
  /* line 42, _media-queries.sass */
  body #brand-text {
    margin: 5% 5% 0 5%;
    text-align: center;
  }
  /* line 45, _media-queries.sass */
  body #brand-text .site-title {
    font-size: 1em !important;
    line-height: 0.5em;
  }
  /* line 49, _media-queries.sass */
  body .main-navigation {
    visibility: hidden;
  }
  /* line 51, _media-queries.sass */
  body .mobile-navigation {
    display: inline;
  }
}
