@import url("../wp-foundation/stylesheets/app.css");
@import url("../wp-foundation/style.css");
/*!
 *Theme Name: Wordpress Foundation Child
 *Theme URI: http://320press.com/wpfoundation
 *Template: wp-foundation
 *Description: Child of WP Foundation
 *Version: 2.0
 *Author: 320press
 *Author URI: http://320press.com
 *Tags: bones, zurb, foundation, 320press, clean, basic */
@font-face {
  font-family: "BorgiaPro-Regular";
  src: url('fonts/BorgiaPro-Regular-webfont.ttf') format('truetype'), url('fonts/BorgiaPro-Regular-webfont.woff') format('woff'), url('fonts/BorgiaPro-Regular-webfont.eot') format('embedded-opentype'), url('fonts/BorgiaPro-Regular-webfont.svg') format('svg');
}

@font-face {
  font-family: "BorgiaPro-Italic";
  src: url('fonts/BorgiaPro-Italic-webfont.ttf') format('truetype'), url('fonts/BorgiaPro-Italic-webfont.woff') format('woff'), url('fonts/BorgiaPro-Italic-webfont.eot') format('embedded-opentype'), url('fonts/BorgiaPro-Italic-webfont.svg') format('svg');
}

@font-face {
  font-family: "SofiaProLight";
  src: url('fonts/SofiaProLight-webfont.ttf') format('truetype'), url('fonts/SofiaProLight-webfont.woff') format('woff'), url('fonts/SofiaProLight-webfont.eot') format('embedded-opentype'), url('fonts/SofiaProLight-webfont.svg') format('svg');
}

/* line 9, stylesheets/_typography.sass */
Body {
  font-family: BorgiaPro-Regular, serif;
  color: #8b8b8b;
  background-color: #f0f0f0;
  font-size: 18px;
}

/* line 15, stylesheets/_typography.sass */
h1, h2 {
  font-family: SofiaProLight, sans-serif;
  color: #eeeeee;
  font-size: 3.2em;
  letter-spacing: -0.02em;
}

/* line 21, stylesheets/_typography.sass */
h3, h4, h5, h6 {
  font-family: BorgiaPro-Italic, serif;
  font-weight: 300;
}

/* line 25, stylesheets/_typography.sass */
a {
  color: white;
  font-weight: 600;
}

/* line 29, stylesheets/_typography.sass */
a:hover,
a:focus,
a:active {
  color: #c71100;
}

/* line 34, stylesheets/_typography.sass */
p {
  font-size: 1.4em;
  line-height: 1.1em;
  font-weight: 300;
}

/* line 2, stylesheets/_header.sass */
#top-header {
  background-color: #8b8b8b;
  color: #eeeeee;
  max-height: 11em;
}
/* line 6, stylesheets/_header.sass */
#top-header #main-logo {
  display: block;
  padding: 4em 0 1.5em 1.5em;
}
/* line 9, stylesheets/_header.sass */
#top-header #main-logo #logo-icon {
  background: #8b8b8b url("images/BmoreUnsceneLogo.png") no-repeat;
  height: 75px;
  width: 75px;
  display: block;
  float: left;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
/* line 16, stylesheets/_header.sass */
#top-header #main-logo #logo-icon:hover {
  opacity: 0.8;
}
/* line 18, stylesheets/_header.sass */
#top-header #main-logo h1 {
  font-size: 2em;
  font-weight: 100;
  padding-left: 3em;
  margin-top: 10px;
  margin-bottom: 1px;
}
/* line 24, stylesheets/_header.sass */
#top-header #main-logo h1 #logo {
  color: #eeeeee;
}
/* line 26, stylesheets/_header.sass */
#top-header #main-logo h4.subhead {
  padding-left: 3.6em;
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 32, stylesheets/_header.sass */
#top-header .active {
  background: #6d6d6d;
  border-color: #8b8b8b;
}
/* line 35, stylesheets/_header.sass */
#top-header .active:hover {
  background: #585858;
}

/* line 39, stylesheets/_header.sass */
ul.nav-bar {
  background: #8b8b8b;
  margin-top: 5.5em;
  height: 2em;
}
/* line 43, stylesheets/_header.sass */
ul.nav-bar li {
  border-color: #8b8b8b;
  border-width: 0em;
  box-shadow: none;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
/* line 48, stylesheets/_header.sass */
ul.nav-bar li a {
  border-left: 0.1rem solid white;
  border-right: 0em;
  color: #8b8b8b;
}
/* line 52, stylesheets/_header.sass */
ul.nav-bar li a:first-child {
  font-size: 1.2em;
  padding: 0 15px;
}
/* line 55, stylesheets/_header.sass */
ul.nav-bar li a:last-child {
  border-right: 0.1rem solid white;
}
/* line 57, stylesheets/_header.sass */
ul.nav-bar li a:last-child:hover {
  border-right: 0.1rem solid white;
}
/* line 59, stylesheets/_header.sass */
ul.nav-bar li a:hover {
  background: #4b4b4b;
}
/* line 61, stylesheets/_header.sass */
ul.nav-bar li a:focus {
  background: #6d6d6d;
}
/* line 64, stylesheets/_header.sass */
ul.nav-bar li label {
  margin: 0 15px;
  height: 37px;
}
/* line 67, stylesheets/_header.sass */
ul.nav-bar li label .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
/* line 70, stylesheets/_header.sass */
ul.nav-bar li label .search-field {
  background: transparent url("images/search-icon.png") 0 0 no-repeat;
  height: 38px;
  padding-left: 36px;
  position: relative;
  transition: width 400ms ease, background 400ms ease;
  -webkit-transition: width 400ms ease, background 400ms ease;
  -moz-transition: width 400ms ease, background 400ms ease;
  -o-transition: width 400ms ease, background 400ms ease;
  width: 0px;
  border: none;
  cursor: pointer;
  border-image-width: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
/* line 84, stylesheets/_header.sass */
ul.nav-bar li label .search-field:focus {
  background: white url("images/search-icon.png") -38px 0 no-repeat;
  width: 150px;
  border: none;
}
/* line 88, stylesheets/_header.sass */
ul.nav-bar li label #search-submit {
  display: none;
}

/* line 1, stylesheets/_footer.sass */
#site-footer {
  height: 8em;
  width: 100%;
  background-color: #8b8b8b;
  clear: both;
}

/* line 7, stylesheets/_footer.sass */
.footer-links {
  font-size: 100%;
}
/* line 9, stylesheets/_footer.sass */
.footer-links ul.link-list {
  -moz-column-count: 2;
  -moz-column-gap: 2em;
  -moz-column-width: 5em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2em;
  -webkit-column-width: 5em;
  column-width: 5em;
  column-count: 2;
  column-gap: 2em;
  margin: 1em 0.5em;
  display: block;
  vertical-align: top;
}
/* line 22, stylesheets/_footer.sass */
.footer-links ul.link-list label {
  display: none;
}
/* line 24, stylesheets/_footer.sass */
.footer-links ul.link-list a {
  color: white;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
/* line 27, stylesheets/_footer.sass */
.footer-links ul.link-list a:hover {
  color: #c71100;
}

/* line 30, stylesheets/_footer.sass */
ul.social-media-icons {
  list-style: none;
  text-decoration: none;
  margin: 1em 2em;
  float: right;
}
/* line 35, stylesheets/_footer.sass */
ul.social-media-icons li {
  display: inline-block;
  margin-left: 1em;
}
/* line 38, stylesheets/_footer.sass */
ul.social-media-icons li a {
  color: white;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
/* line 41, stylesheets/_footer.sass */
ul.social-media-icons li a:hover {
  color: #c71100;
}

/* line 44, stylesheets/_footer.sass */
.mobile-footer {
  display: none;
}

/* line 47, stylesheets/_footer.sass */
.attribution {
  font-size: 0.5em;
  color: #cfcfcf;
  background: none;
  margin-right: 2em;
}
/* line 52, stylesheets/_footer.sass */
.attribution a {
  color: #cfcfcf;
}

/* line 1, stylesheets/_homepage.sass */
.caption-container {
  display: block;
  background-color: #6d6d6d;
  opacity: 0.9;
  width: 30em;
  height: 21em;
  top: 1.3em;
  left: 0.5em;
  position: relative;
}

/* line 12, stylesheets/_homepage.sass */
#featured {
  height: 300px;
  opacity: 1;
  margin-top: 1em;
}
/* line 16, stylesheets/_homepage.sass */
#featured h3 {
  color: white;
  width: 80%;
  font-size: 2.8em;
  padding-left: 0.8em;
  padding-top: 0.8em;
  margin-top: 0em;
}
/* line 23, stylesheets/_homepage.sass */
#featured p {
  width: 90%;
  padding-left: 1.5em;
  color: #cfcfcf;
}

/* line 29, stylesheets/_homepage.sass */
.post-image {
  top: 0.5em;
}
/* line 31, stylesheets/_homepage.sass */
.post-image h2 {
  height: 1.2em;
  top: 0em;
  color: #6d6d6d;
  background-color: none;
  border-bottom: 0.025em solid #6d6d6d;
  bottom: 0.25em;
}
/* line 33, stylesheets/_homepage.sass */
.post-image p {
  overflow: hidden;
}

/* line 2, stylesheets/_post.sass */
#main .page-header {
  background-color: #f0f0f0;
}
/* line 6, stylesheets/_post.sass */
#main article img {
  margin: 1em 0;
  width: 100%;
}
/* line 9, stylesheets/_post.sass */
#main article h1 {
  height: 1.2em;
  top: 0em;
  color: #6d6d6d;
  background-color: none;
  border-bottom: 0.025em solid #6d6d6d;
  bottom: 0.25em;
}
/* line 11, stylesheets/_post.sass */
#main article p.meta {
  padding-bottom: 0.4em;
  color: #444444;
}

/* line 2, stylesheets/_sidebar.sass */
#sidebar1 .panel {
  background: #444444;
  border: 0px;
  margin: 1em 0 1.6em 1em;
}
/* line 6, stylesheets/_sidebar.sass */
#sidebar1 .panel .widget {
  color: #cfcfcf;
}
/* line 8, stylesheets/_sidebar.sass */
#sidebar1 .panel .widget h4 {
  margin-bottom: 7px;
}
/* line 10, stylesheets/_sidebar.sass */
#sidebar1 .panel .widget ul {
  list-style-type: lower-roman;
}
/* line 12, stylesheets/_sidebar.sass */
#sidebar1 .panel .widget ul li {
  margin-bottom: 0px;
}
/* line 14, stylesheets/_sidebar.sass */
#sidebar1 .panel .widget ul li a {
  color: white;
  font-family: BorgiaPro-Italic, serif;
}
/* line 18, stylesheets/_sidebar.sass */
#sidebar1 .panel .widget ul li a:hover {
  color: #c71100;
}
/* line 20, stylesheets/_sidebar.sass */
#sidebar1 .panel .widget .label {
  background-color: #8b8b8b;
  padding: 5px;
}
/* line 23, stylesheets/_sidebar.sass */
#sidebar1 .panel .widget .radius {
  border-radius: 0px;
}

/* Phone to Tablet */
@media screen and (max-width: 767px) {
  /* line 4, stylesheets/_media-queries.sass */
  .row {
    width: auto;
  }

  /* line 6, stylesheets/_media-queries.sass */
  #top-header {
    min-width: 100%;
    max-height: 3.4em;
  }
  /* line 9, stylesheets/_media-queries.sass */
  #top-header #main-logo {
    background: none;
    width: 100%;
    min-height: 50px;
    padding: 0.2em 3em;
  }
  /* line 14, stylesheets/_media-queries.sass */
  #top-header #main-logo #logo-icon {
    display: none;
  }
  /* line 16, stylesheets/_media-queries.sass */
  #top-header #main-logo h1 {
    text-align: center;
    font-weight: 300;
    font-size: 1.8em;
    letter-spacing: -0.02em;
    padding-left: 0px;
  }
  /* line 22, stylesheets/_media-queries.sass */
  #top-header #main-logo h1 #logo {
    color: #eeeeee;
  }
  /* line 24, stylesheets/_media-queries.sass */
  #top-header #main-logo h4.subhead {
    display: none;
  }
  /* line 27, stylesheets/_media-queries.sass */
  #top-header .icon-reorder {
    font-size: 1.4em;
    font-color: #cfcfcf;
  }
  /* line 30, stylesheets/_media-queries.sass */
  #top-header .button {
    margin: 0.5em;
    font-size: 1em;
    border: none;
    background-color: #8b8b8b;
    color: #cfcfcf;
    box-shadow: none;
    background: none;
  }
  /* line 38, stylesheets/_media-queries.sass */
  #top-header .button:hover {
    border: none;
    color: #cfcfcf;
    background-color: #6d6d6d;
    color: white;
  }
  /* line 43, stylesheets/_media-queries.sass */
  #top-header .button:active {
    border: none;
    color: #cfcfcf;
    background-color: #444444;
    box-shadow: none;
  }

  /* line 49, stylesheets/_media-queries.sass */
  .mobile-nav-container {
    top: 5em;
    width: 52%;
    background-color: #8b8b8b;
    color: #cfcfcf;
    box-shadow: -5px 0px 2px #333333 inset;
    -webkit-transition: all 0.25s ease-in 0s;
    height: 1200px;
  }
  /* line 57, stylesheets/_media-queries.sass */
  .mobile-nav-container ul.tabs.vertical {
    margin-bottom: 0px;
  }
  /* line 59, stylesheets/_media-queries.sass */
  .mobile-nav-container ul.tabs.vertical li {
    border: 0px none;
    box-shadow: -5px 0px 2px #333333 inset;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-bottom: 0.1em solid #cfcfcf;
  }
  /* line 64, stylesheets/_media-queries.sass */
  .mobile-nav-container ul.tabs.vertical li a {
    border-right: 0px;
    font-size: 16px;
    box-shadow: -5px 0px 2px #333333 inset;
    color: #cfcfcf;
    background: 0 no-repeat #8b8b8b;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  /* line 71, stylesheets/_media-queries.sass */
  .mobile-nav-container ul.tabs.vertical li a:hover {
    box-shadow: -5px 0px 2px #333333 inset;
    background: #4b4b4b;
    color: white;
  }
  /* line 75, stylesheets/_media-queries.sass */
  .mobile-nav-container ul.tabs.vertical li a:active {
    background: #444444;
  }
  /* line 77, stylesheets/_media-queries.sass */
  .mobile-nav-container ul.tabs.vertical li label {
    margin: 0 15px;
    height: 47px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    padding: 5px 0;
  }
  /* line 82, stylesheets/_media-queries.sass */
  .mobile-nav-container ul.tabs.vertical li label .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
  }
  /* line 85, stylesheets/_media-queries.sass */
  .mobile-nav-container ul.tabs.vertical li label .search-field {
    background: white url("images/search-icon.png") -38px 0 no-repeat;
    height: 38px;
    padding-left: 38px;
    width: 95%;
    margin-right: 15px;
  }
  /* line 91, stylesheets/_media-queries.sass */
  .mobile-nav-container ul.tabs.vertical li label #search-submit {
    display: none;
  }

  /* line 94, stylesheets/_media-queries.sass */
  div.orbit-wrapper {
    display: none;
  }
  /* line 96, stylesheets/_media-queries.sass */
  div.orbit-wrapper #featured {
    display: none;
  }
  /* line 98, stylesheets/_media-queries.sass */
  div.orbit-wrapper #featured div.orbit-slide {
    display: none;
  }

  /* line 101, stylesheets/_media-queries.sass */
  .active #main {
    margin-right: -80%;
  }

  /* line 103, stylesheets/_media-queries.sass */
  #main {
    height: 100%;
    position: relative;
    z-index: 1002;
    -webkit-transition: all 0.25s ease-in 0s;
    padding: 0px;
  }
  /* line 109, stylesheets/_media-queries.sass */
  #main .home-main {
    padding-left: 5px;
  }
  /* line 112, stylesheets/_media-queries.sass */
  #main .home-main .post-image img {
    margin-top: 0.8em;
    border: none;
  }
  /* line 116, stylesheets/_media-queries.sass */
  #main .home-main .post h2 {
    margin: 0.4em 0.3em;
  }
  /* line 118, stylesheets/_media-queries.sass */
  #main .home-main .post p {
    padding: 0 1em;
  }
  /* line 120, stylesheets/_media-queries.sass */
  #main .home-main .post .button {
    width: 100%;
    text-align: center;
  }

  /* line 124, stylesheets/_media-queries.sass */
  .page-header {
    max-height: 400px;
  }

  /* line 127, stylesheets/_media-queries.sass */
  article {
    padding-left: 5px;
  }
  /* line 129, stylesheets/_media-queries.sass */
  article img {
    margin-top: 0.9em;
    padding: 0 1em;
    max-height: 250px;
  }
  /* line 133, stylesheets/_media-queries.sass */
  article h1 {
    margin: 0.4em 0.3em;
  }
  /* line 135, stylesheets/_media-queries.sass */
  article p {
    padding: 0 1em;
  }

  /* line 138, stylesheets/_media-queries.sass */
  .panel {
    display: none;
  }
  /* line 140, stylesheets/_media-queries.sass */
  .panel .widget {
    display: none;
  }

  /* line 143, stylesheets/_media-queries.sass */
  #site-footer {
    height: 12em;
  }

  /* line 146, stylesheets/_media-queries.sass */
  .footer-links {
    display: none;
  }

  /* line 149, stylesheets/_media-queries.sass */
  .mobile-footer {
    display: block;
    text-align: center;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  /* line 153, stylesheets/_media-queries.sass */
  .mobile-footer a {
    color: white;
    line-height: -1em;
  }
  /* line 156, stylesheets/_media-queries.sass */
  .mobile-footer a:hover {
    color: #c71100;
  }
  /* line 158, stylesheets/_media-queries.sass */
  .mobile-footer h5 {
    color: white;
    margin: -0.5em 0 0.5em 0;
  }
  /* line 161, stylesheets/_media-queries.sass */
  .mobile-footer h5:hover {
    color: #c71100;
  }

  /* line 165, stylesheets/_media-queries.sass */
  ul.social-media-icons {
    font-size: 50%;
    width: 100%;
    text-align: center;
    margin: 0.5em 0;
  }
  /* line 170, stylesheets/_media-queries.sass */
  ul.social-media-icons li:first-child {
    margin-left: 0em;
  }
  /* line 172, stylesheets/_media-queries.sass */
  ul.social-media-icons li {
    margin-left: 6em;
  }

  /* line 175, stylesheets/_media-queries.sass */
  p.attribution {
    text-align: center;
    width: 100%;
    margin-right: none;
    margin-top: 1em;
  }
}
/* Tablet to Screen */
@media screen and (min-width: 767) and (max-width: 1023) {
  /* line 185, stylesheets/_media-queries.sass */
  #top-header #main-logo {
    width: 200px;
  }
  /* line 187, stylesheets/_media-queries.sass */
  #top-header #main-logo h1 {
    font-size: 1em;
    font-weight: 100;
    line-height: 1em;
  }

  /* line 191, stylesheets/_media-queries.sass */
  .page-header {
    min-height: 500px;
  }

  /* line 194, stylesheets/_media-queries.sass */
  article img {
    max-height: 400px;
  }
}
/* line 24, stylesheets/style.sass */
.button {
  background: #8b8b8b;
  border: 0.1em solid #cfcfcf;
  font-family: BorgiaPro-Italic, serif;
  font-size: 16px;
  box-shadow: none;
}

/* line 31, stylesheets/style.sass */
.button:hover {
  background-color: #c71100;
}

/* line 34, stylesheets/style.sass */
.button:active {
  box-shadow: 0px 0px 2px white inset;
  background-color: #610800;
}

/* line 38, stylesheets/style.sass */
#content {
  height: 100%;
}

/* line 41, stylesheets/style.sass */
.columns {
  padding: 0 4px;
}

/* line 44, stylesheets/style.sass */
.container {
  width: 1000px;
}
