/*
Syntax error: The line was indented 2 levels deeper than the previous line.
        on line 5 of /Users/joe/Pictures/Freelance/Bmore Unscene/Bmore-Unscene-Site/wordpress/wp-content/themes/naked-wordpress-child/stylesheets/_header.sass
        from line 15 of /Users/joe/Pictures/Freelance/Bmore Unscene/Bmore-Unscene-Site/wordpress/wp-content/themes/naked-wordpress-child/stylesheets/style.sass

1: /Users/joe/Pictures/Freelance/Bmore Unscene/Bmore-Unscene-Site/wordpress/wp-content/themes/naked-wordpress-child/stylesheets/style.sass

Backtrace:
/Users/joe/Pictures/Freelance/Bmore Unscene/Bmore-Unscene-Site/wordpress/wp-content/themes/naked-wordpress-child/stylesheets/_header.sass:5
/Users/joe/Pictures/Freelance/Bmore Unscene/Bmore-Unscene-Site/wordpress/wp-content/themes/naked-wordpress-child/stylesheets/style.sass:15
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/engine.rb:457:in `tree'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/engine.rb:460:in `tree'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/engine.rb:345:in `_to_tree'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/engine.rb:272:in `to_tree'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `visit_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/tree/root_node.rb:20:in `render'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.10/lib/sass/engine.rb:262:in `render'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/compass_patch.rb:60:in `compile'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/compass_patch.rb:59:in `compile'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/logger.rb:45:in `red'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/compass_patch.rb:58:in `compile'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1620:in `each'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/compiler.rb:25:in `compile'
org/jruby/RubyKernel.java:2105:in `send'
(__FORWARDABLE__):3:in `compile'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/app_watcher.rb:40:in `watch!'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/ui/tray.rb:447:in `watch'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: The line was indented 2 levels deeper than the previous line.\A         on line 5 of /Users/joe/Pictures/Freelance/Bmore Unscene/Bmore-Unscene-Site/wordpress/wp-content/themes/naked-wordpress-child/stylesheets/_header.sass\A         from line 15 of /Users/joe/Pictures/Freelance/Bmore Unscene/Bmore-Unscene-Site/wordpress/wp-content/themes/naked-wordpress-child/stylesheets/style.sass\A \A 1: /Users/joe/Pictures/Freelance/Bmore Unscene/Bmore-Unscene-Site/wordpress/wp-content/themes/naked-wordpress-child/stylesheets/style.sass"; }
